#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  font-size: 14px;
  line-height: 1.2857143;
  color: #000; /* Text color */
  background-color: #f9f9f9; /* Background color */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Spacing between inputs */
}

.form-control {
  margin-bottom: 20px;
  text-align: left;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}

button {
  background-color: #646cff;
  color: #080800;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #535bf2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
